{% extends 'catalog_app/base.html' %}
{% block content %}
{% include 'catalog_app/includes/inc_menu.html'%}
<h5 class="text-center my-5">Укажите ваши данные и мы с вами свяжемся</h5>
<div class="container col-3">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleNameInput" class="form-label">Имя</label>
            <input name="name" type="text" id="exampleNameInput" class="form-control" placeholder="Введите ваше имя">
        </div>
        <div class="mb-3">
            <label for="exampleNumberInput" class="form-label">Номер</label>
            <input name="number" type="text" id="exampleNumberInput" class="form-control" placeholder="Введите ваш номер телефона">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
<div class="container text-center">
    <h4 class="my-4">
        Наши контакты:
    </h4>
    <p class="lead">{{contact.name}}</p>
    <p>{{contact.number}}</p>
</div>
{% endblock %}