{% extends 'catalog_app/base.html' %}
{% block content %}
{% include 'catalog_app/includes/inc_menu.html' %}
<div class="container my-5 col-10">
    <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    {{ form.as_p }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
        <div class="col-5">
            {{ formset.management_form }}
            {% for form in formset.forms %}
            <div class="card">
                <div class="card-body">
                    {{ form.as_p }}
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}