{% extends 'catalog_app/base.html' %}
{% block content %}
{% include 'catalog_app/includes/inc_menu.html'%}
<div class="container">
    <img src="" class="img-fluid" alt="Изображение">
    <div class="row text-center">
        <h1 class="text-center my-3">{{product.0.name}}</h1>
        <p style="font-size: 30px">Категория: {{product.0.category}}</p>
        <p style="font-size: 30px">Цена: {{product.0.price}}</p>
        <p style="font-size: 30px">Описание: {{product.0.description}}</p>
        <p style="font-size: 30px">ID товара: {{product.0.id}}</p>
        <p style="font-size: 30px">Дата создания: {{product.0.creation_date}}</p>
        <p style="font-size: 30px">Дата последнего изменения: {{product.0.last_modified_date}}</p>
    </div>
</div>
{% endblock %}