{% extends 'catalog_app/base.html' %}
{% block content %}
{% include 'catalog_app/includes/inc_menu.html' %}
<div class="container my-5 col-6">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <select name="category" class="form-select" aria-label="Default select example">
                <option selected>Выберите категорию</option>
                {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input name="name" type="text" id="exampleNameInput" class="form-control" placeholder="Название продукта">
        </div>
        <div class="mb-3">
            <input name="price" type="text" id="examplePriceInput" class="form-control" placeholder="Цена за штуку">
        </div>
        <div class="mb-3">
            <textarea name="description" id="exampleDescriptionInput" class="form-control" rows="5" placeholder="Описание продукта"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}