{% extends 'catalog_app/base.html' %}
{% block content %}
{% include 'catalog_app/includes/inc_menu.html'%}
<div class="container col-6 my-5">
    <div class="row my-6">
        <div class="card text-center">
            <div class="card-body">
                <p class="card-text">Вы действительно хотите удалить статью: {{object.title}}?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <a href="{% url 'blog_app:blog_detail' object.id %}" type="button" class="btn btn-primary">Вернуться назад</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}